body {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: whitesmoke;
    background-color: whitesmoke;
}

h1 {
    color: #BE76D0;
}

h2, p {
    color: #47476b;
}

p {
    font-size: 1.25em;
}

.container {
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 100px auto auto;
}

header, footer {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    align-content: space-around;
}

.none{
    visibility: hidden;
}

.nav1 {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 120%;
    background: #BE76D0;
    background: linear-gradient(to bottom right, #C290CF, #C39BCD, #CCAED3, #EDE2EF);
    padding-left: 0;
}

main {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.flex {
    display: flex;
    align-content: space-between;
}

header {
    text-align: center;
}

li {
    line-height: 400%;
    font-size: 1.5em;
    color: whitesmoke;
    list-style-type: none;
}

.content {
    flex-direction: column;
}

.helpline {
    margin-left: 150px;
    margin-right: 150px;
}

ul {
    padding-left: 10px;
}

.nav2 {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 100%;
    background: #BE76D0;
    background: linear-gradient(to bottom right, #C290CF, #C39BCD, #CCAED3, #EDE2EF);
    padding-right: 0;
}

nav > div > ul >li > a{
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .container {
        display: grid;
        width: 400px;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 100px 300px 300px;
    }
    main {
        grid-column-start: 2;
        grid-column-end: 3;
        padding-left: 0px;
    }
    .element {
        grid-column: 1 / 2;
    }
    header {
        text-align: start;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    
    main>.image{

        grid-row: 3 / 4;
        width: 300px;
        margin-left: 0px;
    }
    .nav1 {
        display: none;
    }
    .nav2 {
        display: none;
    }

     .none,.aside{

            visibility: visible;
            grid-column-start: 1;
            grid-column-end: 2;
            width: 50%;
            background: #BE76D0;
            background: linear-gradient(to bottom right, #C290CF, #C39BCD, #CCAED3, #EDE2EF);
            padding-left: 0;
        
        }
    main {
        grid-row-start: 2;
        grid-row-end: 5;
    }
    footer, .helpline{
        grid-row-start: 7;
        grid-row-end: 8;
        margin-right: 50px;
        margin-left: 0px;
        flex-direction: column;
    }

    aside > div > ul >li > a{
        text-decoration: none;
    }
    
}