body{
    font-family: 'Roboto Slab', serif;
    color: whitesmoke;
    background:#ba74cc;
    background: linear-gradient(to right, #C290CF, #C39BCD, #CCAED3, #EDE2EF);
}

.container{
    display: grid;
    margin: 0 auto;
    justify-content: center;
    width: 1100px;

    grid-template-columns: 150px auto;
    grid-template-rows: 100px auto auto auto;
    /* border: black solid 1px; */
}
header, footer{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    align-content: space-around;
}
nav{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 120%;
    background:#BE76D0;
    background: linear-gradient(to bottom right, #C290CF, #C39BCD, #CCAED3, #EDE2EF);
}

main{
    grid-column-start: 2;
    grid-column-end: 3;
}

/* .element{
   border: black solid 1px;
} */

.flex{
    display: flex;
    align-content:space-between;
}

header{
    text-align: center;
}
li{
    line-height: 400%;
    font-size: 1.5em;
    color: whitesmoke;
   
}
p{
    margin-left: 150px;
    margin-right: 150px;
}

li{
    list-style-type: none;
}

.bilder{
    justify-content: center;
}